:root {
    --background: #121212;
    --supporting: #1e1e1e;
    --text: #e6e6e6;
}

* {
    background-color: var(--background);
    color: var(--text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 10%;
    text-align: center;
}

#clock {
    font-family: "Roboto Mono", monospace;
    font-size: 65px;
    margin-top: 4%;
}

#temp {
    font-size: 25px;
    margin: -1.25%;
}

form {
    margin-top: 30px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.input-box {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(150%);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 0.85%;
}

.input-box input {
    width: 200px;
    font-size: 16px;
    border: 1px solid var(--text);
    border-radius: 5px;
}

.input-box.show {
    transform: translateX(-25%);
}

.bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.bottom-right img {
    width: 30px;
    cursor: pointer;
}

.bookmarks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 45px;
}

.bookmarks {
    flex: 0 1 200px;
    margin: 5px;
    min-height: 175px;
    box-sizing: border-box;
    background-color: var(--supporting);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.bookmarks h3 {
    background: transparent;
}

.bookmarks hr {
    border: none;
    height: 1px;
    background-color: var(--text);
    margin-top: -15px;
    margin-bottom: -10px;
    background: transparent;
}

.bookmarks ul {
    list-style-type: none;
    padding-left: 0;
    background: transparent;
}

.bookmarks li {
    margin: 5px 0;
    background: transparent;
}

.bookmarks a {
    text-decoration: none;
    color: var(--text);
    background: transparent;
}

.bookmarks a:hover {
    text-decoration: underline;
}

#lineFade {
    background: linear-gradient(to right, transparent 10%, var(--text) 40%, var(--text) 60%, transparent 90%);
    height: 1.5px;
}